[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no
[req_distinguished_name]
C = RU
ST = MOSCOW
L = MOSCOW
O = RNCB
OU = Organizational Unit
CN = *.amazonaws.com
[v3_req]
keyUsage = critical, digitalSignature, keyAgreement
extendedKeyUsage = serverAuth
subjectAltName = @alt_names
[alt_names]
DNS.1 = ec2-18-220-69-174.us-east-2.compute.amazonaws.com
